Hi, {{.ID}}.

Thank you for signing up with Todo App. To activate your newly created account, please click on the following link:
https://jskoo.iptime.org:3334/activation/{{.ActivationKey}}

-- jsproj.com Todo team
