<html>
<head>
    <title>Welcome to Todo App.</title>
</head>
<body>
    Activation successfully completed.<br>
    <br>
    Your id: {{.ID}}<br>
    Your password: ********<br>
    <br>
    Thank you for using this application.<br>
    <br>
    -- jsproj.com Todo team
</body>
</html>
